{% load static %} {% block title %} {% endblock title%} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <form method="POST"> {% csrf_token %} </form>
    <title>PetVille/Find</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static '/css/animal.css' %}" />  </head>
  <body class="userinfo">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
      <div class="container">
        <a class="smallsz navbar"href="/">
    <img class="pet" src="{% static '/images/logop.png' %}"> <title class="smallsz"></title>PetVille</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="fa fa-bars"></span> Menu </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item active">
              <a href="/find" class="nav-link">Find a pet sitter</a>
            </li> 
            <li class="nav-item">
              <a href="/vet" class="nav-link">Veterinarian</a>
            </li>
            <li class="nav-item">
              <a href="/gallery" class="nav-link">Gallery</a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link">About</a>
            <a href="../profile/">
            </a>  <li class="nav-item">
              <a href="{% url 'login' %}" class="nav-link">Sign in</a>
              <li class="nav-item">
                <a href="{% url 'petville-register' %}" class="nav-link">Join</a>
              </li>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="hero-wrap hero-wrap-2" style="background-image:url(/static/images/neww.jpg)" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end">
          <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs mb-2">
              <span class="mr-2">
                <a href="/">Home <i class="ion-ios-arrow-forward"></i>
                </a>
              </span>
              <span>Profiles <i class="ion-ios-arrow-forward"></i>
              </span>
            </p>
            <h1 class="mb-0 bread">{{ user.username }}'s Profile</h1>
          </div>
        </div>
      </div>
    </section>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="#">
                  <img class="img_profile"src={{ user.profile.avatar.url }} alt="">
              </a>
              <h1>{{ user.username }}</h1>
              <p>{{ user.email }}</p>
          </div>

          <ul class="nav nav-pills nav-stacked">
              <li><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
              <li><a href="{%url 'petville-profile'%}"> <i class="fa fa-edit"></i> Edit profile</a></li>
          </ul>
      </div>
  </div>
  <div class="profile-info col-md-9">
      <div class="panel">
         <h2>About me</h2>
      </div>
      <div class="panel">
          <div class="bio-graph-heading">
			{{user.userdata.questions }}
          </div>
          <div class="panel-body bio-graph-info">
              <h1>Bio Graph</h1>
              <div class="row">
                  <div class="bio-row">
                      <p class="p"><span class="bio">First Name: </span>{{ user.first_name }}</p>
                  </div>
                  <div class="bio-row">
                      <p class="p"><span class="bio">Last Name: </span>{{ user.last_name }}</p>
                  </div>
				  <div class="bio-row">
					<p class="p"><span class="bio">Phone: </span>{{ user.userdata.phone_number }}</p>
				</div>
				  <div class="bio-row">
					<p class="p"><span class="bio">Email: </span>{{ user.email }}</p>
				</div>
                  <div class="bio-row">
                      <p class="p"><span class="bio">Pet care experience: </span>{{user.userdata.my_field}}</p>
                  </div>
                  <div class="bio-row">
                      <p class="p"><span class="bio">Cost: </span>{{ user.userdata.cost }} {{user.userdata.per_what}}</p>
                  </div>
                  <div class="bio-row">
                      <p class="p"><span class="bio">Phone: </span>{{ user.userdata.phone_number }}</p>
                  </div>
				  <div class="bio-row">
					<p class="p"><span class="bio">State: </span>{{ user.userdata.state}}</p>
				</div>
				<div class="bio-row">
					<p class="p"><span class="bio">City: </span>{{ user.userdata.city}}</p>
				</div>
				<div class="bio-row">
					<p class="mapclass">{{ user.userdata.location}}</p>
				</div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
</div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
            <h2 class="footer-heading">Petsitting</h2>
            <ul class="ftco-footer-social p-0">
              <li class="ftco-animate">
                <a href="/" data-toggle="tooltip" data-placement="top" title="Twitter">
                  <span class="fa fa-twitter"></span>
                </a>
              </li>
              <li class="ftco-animate">
                <a href="/" data-toggle="tooltip" data-placement="top" title="Facebook">
                  <span class="fa fa-facebook"></span>
                </a>
              </li>
              <li class="ftco-animate">
                <a href="/" data-toggle="tooltip" data-placement="top" title="Instagram">
                  <span class="fa fa-instagram"></span>
                </a>
              </li>
            </ul>
          </div>
		  <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
            <h2 class="footer-heading">Quick Links</h2>
            <ul class="list-unstyled">
              <li>
                <a href="/" class="py-2 d-block">Home</a>
              </li>
              <li>
                <a href="/about" class="py-2 d-block">About</a>
              </li>
			  <li>
                <a href="/vet" class="py-2 d-block">Veterinarian</a>
              </li>
			  <li>
                <a href="/find" class="py-2 d-block">Find a pet sitter</a>
              </li>
			  <li>
                <a href="{% url 'login' %}" class="py-2 d-block">Works</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
            <h2 class="footer-heading">Have a Questions?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li>
                  <span class="icon fa fa-map"></span>
                  <span class="text">LAC 1, tunis, Tunisia</span>
                </li>
                <li>
                  <a href="/">
                    <span class="icon fa fa-phone"></span>
                    <span class="text">+216 54 107 023</span>
                  </a>
                </li>
                <li>
                  <a href="/">
                    <span class="icon fa fa-paper-plane"></span>
                    <span class="text">
                      <span class="__cf_email__" data-cfemail="2841464e476851475d5a4c4745494146064b4745">[email&#160;protected]</span>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-12 text-center">
            </p>
          </div>
        </div>
      </div>
    </footer>
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
      </svg>
    </div>
    <script src="{% static 'js/jquery.min2.js' %}"></script>
    <script src="{% static 'js/animal3.js' %}"></script>
    <script>
      eval(mod_pagespeed_0ztj8eK1zU);
    </script>
    <script>
      eval(mod_pagespeed_9gxkp99emx);
    </script>
    <script>
      eval(mod_pagespeed_z5q9ug_Tnu);
    </script>
    <script src="{% static 'js/animal1.js' %}"></script>
    <script>
      eval(mod_pagespeed_PheztQ5KeU);
    </script>
    <script>
      eval(mod_pagespeed_7JeVy$gaKh);
    </script>
    <script>
      eval(mod_pagespeed_7eAOlpDE5G);
    </script>
    <script>
      eval(mod_pagespeed_wYcbH3bMHt);
    </script>
    <script>
      eval(mod_pagespeed_rlMM_XDUX_);
    </script>
    <script src="{% static 'js/animal2.js' %}"></script>
    <script>
      eval(mod_pagespeed_RRE27dWFEX);
    </script>
    <script>
      eval(mod_pagespeed_w7M8yeq96M);
    </script>
    <script>
      eval(mod_pagespeed_ZnvqZjnXfC);
    </script>
    <script>
      eval(mod_pagespeed_5kC6qwcDZy);
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script>
      eval(mod_pagespeed_dKq4O7yY2L);
    </script>
    <script src="{% static 'js/main2.js' %}"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-23581568-13');
    </script>
    <script defer src="{% static 'js/home.js' %}"></script>
  </body>
</html> {% endblock content %}

