* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }
  body {font-family: Arial, Helvetica, sans-serif;
	}
p {
    color: #f1f1f1;
}
b{
    color: #f1f1f1;
}
label{
    color: #f1f1f1;
}

 .logo{
	 height: 120px;
	 width: 160px
 } 




/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

  
  .navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
 .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #7ac3e6;
    background: -webkit-linear-gradient(to right,#7ac3e6,#7ac3e6);
    background: linear-gradient(to right,#7ac3e6,#7ac3e6);
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .navbar__links:hover {
    color: #7ec0df;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 0;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 01.6rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
  

  .services__card:nth-child(2) {
    background: #1fa2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #a6ffcb,
      #12d8fa,
      #1fa2ff
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #a6ffcb,
      #12d8fa,
      #1fa2ff
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.img1{
	position: relative;
	left:15px;
	bottom: -45px;
	width: 980px;
	height: 430px;
	border-radius : 85px;
}
  .container{
	max-width: 950px;
	width: 100%;
	overflow: hidden;
	padding: 80px 0;
  }
  .container .main-card{
	display: flex;
	justify-content: space-evenly;
	width: 200%;
	transition: 1s;
  }
  #two:checked ~ .main-card{
	margin-left: -100%;
  }
  .container .main-card .cards{
	width: calc(100% / 2 - 10px);
	display: flex;
	flex-wrap: wrap;
	margin: 0 20px;
	justify-content: space-between;
  }
  .main-card .cards .card{
	width: calc(100% / 3 - 10px);
	background: #fff;
	border-radius: 12px;
	padding: 30px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
	transition: all 0.4s ease;
  }
  .main-card .cards .card:hover{
	transform: translateY(-15px);
  }
  .cards .card .content{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
  }
  .cards .card .content .img{
	height: 130px;
	width: 130px;
	border-radius: 50%;
	padding: 3px;
	background: rgb(250, 232, 208);
	margin-bottom: 14px;
  }
  .card .content .img img{
	height: 100%;
	width: 100%;
	border: 3px solid #ffff;
	border-radius: 50%;
	object-fit: cover;
  }
  .card .content .name{
	font-size: 20px;
	font-weight: 500;
  }
  .card .content .job{
	font-size: 20px;
	color: #080808;
  }
  .card .content .media-icons{
	margin-top: 10px;
	display: flex;
  
  }
  .media-icons a{
	text-align: center;
	line-height: 33px;
	height: 35px;
	width: 35px;
	margin: 0 4px;
	font-size: 14px;
	color: #FFF;
	border-radius: 50%;
	border: 2px solid transparent;
	background: #FF676D;
	transition: all 0.3s ease;
  }
  .media-icons a:hover{
	color: #FF676D;
	background-color: #fff;
	border-color: #FF676D;
  }
   .container .button{
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 20px;
  }
  .button label{
	height: 15px;
	width: 15px;
	border-radius: 20px;
	background: #fff;
	margin: 0 4px;
	cursor: pointer;
	transition: all 0.5s ease;
  }
  .button label.active{
	width: 35px;
  }
  #one:checked ~ .button .one{
	width: 35px;
  }
  #one:checked ~ .button .two{
	width: 15px;
  }
  #two:checked ~ .button .one{
	width: 15px;
  }
  #two:checked ~ .button .two{
	width: 35px;
  }
  input[type="radio"]{
	display: none;
  }
  @media (max-width: 768px) {
	.main-card .cards .card{
	  margin: 20px 0 10px 0;
	  width: calc(100% / 2 - 10px);
	}
  }
  @media (max-width: 600px) {
	.main-card .cards .card{
	  /* margin: 20px 0 10px 0; */
	  width: 100%;
	}
  }
  .form-box{
	width: 650px;
	height:220px;
	position: relative;
	margin: 6% auto;
	background: #fcfbfb ;
	padding: 3px;
	border-radius : 25px;
	box-shadow:  20px 20px 50px black ;
	bottom:100px;
}
.image{
	width: 150px;
	height: 150px;
	position: relative;
	bottom: -30px;
}
h3{
	position: relative;
	bottom:120px;
	left: 40%;
}
p{
	position: relative;
	bottom:110px;
	left: 35%;
	color:#131313;
}
.button1 {
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    height: 30%;
    width: 20%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #7ac3e6;
    background: -webkit-linear-gradient(to right,#7ac3e6,#7ac3e6);
    background: linear-gradient(to right,#7ac3e6,#7ac3e6);
    color: #fff;
	position: relative;
	bottom:195px;
	left: 80%;
  }