body{
	background-image: url(../images/back11.jpg);
}
.form-box{
	width: 450px;
	height:520px;
	position: relative;
	margin: 6% auto;
	background: #fcfbfb ;
	padding: 3px;
	opacity: 0.7;
	overflow: hidden;
	border-radius : 95px;
	box-shadow:  20px 20px 50px black ;
	animation: fade 250ms ease-in-out forwards;
}
.logo{
	width: 60px;
	height: 50px;
	position:relative;
	left: 40%;
	bottom: -22px;
}
h2{
	position:relative;
	left: 1%;
	bottom: -22px;
	

}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
}

.input-group{
	top:180px;
	position: absolute;
	width: 280px;
	transition: .5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.btn{
	width: 50%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #7cd6f1,#a3d9f8 );
	border: 0;
	outline: none;
	border-radius: 30px;
	position: absolute;
	bottom: -20px;
	left: 90px;
	font-size: 20px;
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.btn1{
	width: 50%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #7cd6f1,#a3d9f8 );
	border: 0;
	outline: none;
	border-radius: 30px;
	position: absolute;
	bottom: 60px;
	left: 90px;
	font-size: 20px;
	font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.chech-box{
	margin: 30px 10px 30px 0;
	position: absolute;
	top: -5px;
}

#login{
	left: 35px;
}
.select1{
	width: 350px;
	height: 40px;
	font-size: 17px;
	position: relative;
	bottom: 68px;
}
.select2{
	width: 350px;
	height: 40px;
	font-size: 17px;
	position: relative;
	bottom: 88px;
}

h4{
	position:relative;
	left: 1%;
	bottom: 55px;
}

.state{
	position:relative;
	left: 1%;
	bottom: 70px;
}
.city{
	position:relative;
	left: 1%;
	bottom: 95px;
}
.city-text{
	width: 340px;
	height: 30px;
	position:relative;
	left: 1%;
	bottom: 110px;
}
.email-text{
	width: 340px;
	height: 30px;
	position:relative;
	left: 1%;
	bottom: 40px;
}
.email-shared{
	position:relative;
	bottom: 50px;

}
.contact{
	left:20%
}
.email{
	position: relative;
	bottom: 25px;
}
.phone{
	position: relative;
	bottom: 25px;
}
.phone-text{
	width: 340px;
	height: 30px;
	position:relative;
	left: 1%;
	bottom: 40px;
}
.title{
	left:18%
}
.first-name{
	position: relative;
	bottom: -60px;
	left:8%;
}
.firstName{
	width: 340px;
	height: 30px;
	position:relative;
	left: 8%;
	bottom: -48px;
}
.lastName{
	position: relative;
	bottom: -60px;
	left:8%;
}
.last-Name{
	width: 340px;
	height: 30px;
	position:relative;
	left: 8%;
	bottom: -60px;
}
.password{
	position: relative;
	bottom: -95px;
	left:8%;
}
.password-text{
	width: 340px;
	height: 30px;
	position:relative;
	left: 8%;
	bottom: -90px;
}
.rate{
	width: 170px;
	height: 40px;
	position:relative;
	left: 8%;
	bottom: -90px;
}
.select3{
	width: 150px;
	height: 45px;
	position:relative;
	left: 12%;
	bottom: -90px;
}
.rate-msg{
	position:relative;
	font-size: 15px ;
	bottom: -100px;
	left:8%
}
.option{
	position:relative;
	font-size:18px ;
}
.title4{
	left:26%;
}
.form-box1{
	width: 550px;
	height:820px;
	position: relative;
	margin: 6% auto;
	background: #fcfbfb ;
	padding: 3px;
	opacity: 0.7;
	overflow: hidden;
	border-radius : 95px;
	box-shadow:  20px 20px 50px black ;
	animation: fade 250ms ease-in-out forwards;
}
.title5{
	left:8%
}
.h{
	left:8%;
	position: relative;
	bottom: -25px;
}
.head{
	left:8%;
	position: relative;
	bottom: -15px;
	font-size: 15px;

}
.headline{

	width: 340px;
	height: 60px;
	position:relative;
	left: 8%;
	bottom: -35px;
}
.intro{
	left:8%;
	position: relative;
	bottom: -25px;
}
.introd{
	left:8%;
	position: relative;
	bottom: -15px;
	font-size: 15px;
}
.introduce{
	width: 340px;
	height: 100px;
	position:relative;
	left: 8%;
	bottom: -25px;
}
.add{
	left:8%;
	position:relative;
	bottom: -20px;
	font-size: 15px;
	
}
.questions{
	left:8%;
	position:relative;
	bottom: -20px;
}
.list{
	left:4%;
	position:relative;
	bottom:-10px;
}
#progress {
	position: relative;
	margin-bottom: 30px;   
  }
#progress-bar {
	position: absolute;
	background: lightseagreen;
	height: 5px;
	width: 0%;
	top: 50%;
	left: 0;
  }
  #progress-num {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
  }
  #progress-num::before {
	content: "";
	background-color: lightgray;
	position: absolute;
	top: 50%;
	left: 0;
	height: 5px;
	width: 100%;
	z-index: -1;
  }
  #progress-num .step {
	border: 3px solid lightgray;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background-color: #fff;
	font-family: sans-serif;
	font-size: 14px;    
	position: relative;
	z-index: 1;
  }
  #progress-num .step.active {
	border-color: lightseagreen;
	background-color: lightseagreen;
	color: #fff;
  }
 