Django==4.0.0
djangorestframework==3.13.1
Pillow==9.2.0
pipenv==2022.10.12
wheel==0.37.1
python-dotenv==0.19.0
social-auth-app-django==5.0.0
drf-writable-nested==0.7.0
django-osm-field==0.5.0
django-location-field==2.1.0
django-localflavor
django-phonenumber-field[phonenumberslite]
phonenumbers
django-phonenumber-field
djmoney

