.form-dropdown {
    background: transparent;
    border: none;
    height: 50px;
    background: rgba(255, 255, 255, 0.08);
    color: white ;
    border: 1px solid transparent;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .form-dropdown:hover {
        background: transparent;
        border: none;
        height: 50px;
        background: rgba(255, 255, 255, 0.08);
        color: black !important ;
        border: 1px solid transparent;
        border-radius: 40px;
        padding-left: 20px;
        padding-right: 20px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; ;}

.mapclass {
    overflow: hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 50px;
    top: -20px;
}
.goback {
    position: relative;
    right: 225px;
    outline: none !important;
    border: none !important;
	background:none !important;   
}
.goback:active { 
    border-style: outset !important;
    outline: none !important;
    border: none !important;
	background:none !important;
}
.backicon {
    top: -35px;
    width: 15px;
}
.nobstrp {
    position: relative;
    left: 22px;
}
.sizetxt {
    top: 15px;
    font-size: 20px !important;
}
.sizetxt2 {
    top: 12px;
    text-align: left;
    right: -10px !important;
    font-size: 17px !important;
}
